
<!--<div class="button-bar button-positive button-pill" style="margin-left:-20px;margin-top:-10px;margin-right:5px;max-width:750px">  
<div class="button button-positive u14" style="cursor:default;max-width:136px"><img src="../img/warehouse.png" height="30px" width="30px" style="padding-top:5px"/>&nbsp DC #1234</div>
<div class="button button-positive u14" style="cursor:default;max-width:168px"><img src="../img/location.png" height="30px" width="30px" style="padding-top:5px"/>&nbspBentonville, AR</div>
<div class="button button-positive u14" style="cursor:default;max-width:270px;margin-right:0px"><img src="../img/calendar.png" height="30px" width="30px" style="padding-top:5px"/>&nbsp {{today|date:"MMMM dd, yyyy"}}</div>
<div class="button button-positive u14" style="cursor:default;max-width:157px"><img src="../img/clock2.png" height="30px" width="30px" style="padding-top:5px"/>&nbsp {{clock | date:"hh:mm:ss a"}}</div>
</div>  -->

<div class="col card-shadow-border button-bar button-pill" style="background-color:#29b4b6">
 <div class="row" style="margin-bottom:0px">
  <div class="col col-50" style="margin-bottom:0px">
   <!--  <img style="vertical-align:middle;" src="img/warehouse.png" height="30px" width="30px"/><span class="u14">&nbsp DC #1234</span> -->
   <i class="icon ion-ios-medical" style="height:30px;width:30px;padding-top:5px;color:#ffffff;margin-left: 14px;">
    &nbsp DC #1234
  </i>
</div>
<div class="col col-50" style="margin-bottom:0px">
<!--<img style="vertical-align:middle;" src="img/location.png" height="30px" width="30px"/><span class="u14">&nbspBentonville, AR</span> -->
 <i class="icon ion-android-pin" style="height:30px;width:30px;padding-top:5px;color:#ffffff;margin-left:34px;">
  &nbsp Bentonville, AR
</i>

</div>
</div>
   <!--
   <div class="row">
      <div class="col col-50" style="margin-bottom:0px">
            <img style="vertical-align:middle;" src="img/calendar.png" height="30px" width="30px"/><span class="u14">&nbsp {{today|date:"MMMM dd, yyyy"}}</span>
      </div>
      <div class="col col-50" style="margin-bottom:0px">
            <img  style="vertical-align:middle;" src="img/clock2.png" height="30px" width="30px"/><span class="u14">&nbsp {{clock | date:"hh:mm:ss a"}}</span>
      </div>
    </div>
  -->
</div>