<ion-view view-title="Login" name="login-view">
  <ion-content class="padding" style="background:#64b3f4">
      <div class="list list-inset" style="margin-top:100px">
          <label class="item item-input">
              <input type="text" placeholder="Username" ng-model="data.username">
          </label>
          </div>
          <div class="list list-inset" style="margin-top:40px">
          <label class="item item-input">
              <input type="password" placeholder="Password" ng-model="data.password">
          </label>
      </div>
      <button style="width:350px;margin-left:20px;margin-top:40px" class="button button-block button-royal" ng-click="login()">Login</button>
      <div class="row">
      <img src="img/ignite_logo3.png"/>
      </div>
  </ion-content>
</ion-view>