<ion-view view-title="Login" name="login-view">
  <ion-content class="padding" style="background-image:url('img/locations-map.png');background-repeat: no-repeat;">
    <div style="width:34%;height:246px;margin-left:32%;margin-top:13%;border:1px solid #e45562;">
      <div class="list list-inset" style="margin-left:14%;width:70%;margin-top:5%;">
          <label class="item item-input" style="border: 1px solid #e45562;border-radius: 8px;">
              <input type="text" placeholder="Username" ng-model="data.username">
          </label>
          </div>
          <div class="list list-inset" style="margin-left:14%;width:70%;">
          <label class="item item-input" style="border: 1px solid #e45562;border-radius: 8px;">
              <input type="password" placeholder="Password" ng-model="data.password">
          </label>
      </div>
      <button style="width:50%;text-align:center;margin-left:24%;margin-top:40px;border-radius: 14px;" class="button button-block button-royal" ng-click="login()">Login</button>
      <div class="row">
      <img style="text-align:center;margin-left:450px;margin-top:150px" src="img/ignite_logo3.png"/>
    </div>
     <!-- <div class="list list-inset" style="margin-left:450px;margin-right:450px;border 2px solid green;">
          <label class="item item-input">
              <input type="text" placeholder="Username" ng-model="data.username">
          </label>
          </div>
          <div class="list list-inset" style="margin-left:450px;margin-right:450px">
          <label class="item item-input">
              <input type="password" placeholder="Password" ng-model="data.password">
          </label>
      </div>
      <button style="width:350px;text-align:center;margin-left:490px;margin-top:40px" class="button button-block button-royal" ng-click="login()">Login</button>
      <div class="row">
      <img style="text-align:center;margin-left:450px;margin-top:50px" src="img/ignite_logo3.png"/>
      </div> -->
  </ion-content>
</ion-view>