<ion-view>
    <ion-content class="grid-basic-page" overflow-scroll="false">
     <section class="home-container">
        <div class="row responsive-md" style="margin-left:20px;margin-top:10px">
           <div class="col" style="margin-top:10px">
            <span class="u10">Manager Dashboard</span><span class="u11">&nbsp&nbsp&nbsp Statistics and Reports</span>
           </div>
           <div  style="margin-right:10px" class="col" ng-controller="manProductivityCntrl" ng-include="'templates/headerpill.html'"></div>
        </div>

  <div class="row responsive-md" style="margin-left:10px;">  
        <!--Productivity Graph HTML-->
              <div class="col col-60 card card-shadow-border" class="with-3d-shadow with-transitions" style="margin-right:5px;">
                  <div class="row responsive-md">
                      <div class="col" ng-controller="manProductivityCntrl">
                          <div ng-if="manProdSvc.showDaily"><nvd3 options="prodgraphdaily_options" data="prodgraphdaily_data"></nvd3></div>
                          <div ng-if="manProdSvc.showWeekly"><nvd3 options="prodgraphweekly_options" data="prodgraphweekly_data"></nvd3></div>
                          <div ng-if="manProdSvc.showMonthly"><nvd3 options="prodgraphmonthly_options" data="prodgraphmonthly_data"></nvd3></div> 
                      </div>
                  </div>
                  <div class="row responsive-md">
                      <div class="col"></div>
                      <div class = "col-50" ng-controller="manProductivityCntrl">
                        <div class="button-bar">
                          <button class="button button-small button-positive" ng-click="showDailyfn();">Daily</button>
                          <button class="button button-small button-assertive" ng-click="showWeeklyfn();">Weekly</button>
                          <button class="button button-small button-energized" ng-click="showMonthlyfn();">Monthly</button>
                        </div>
                      </div>
                      <div class="col"></div>
                  </div>
               </div> 

            <!--Remedy CRQ Statistics HTML -->
          <div class="col col-40" style="margin-left:-5px;margin-right:10px"> 
                   <div class="row row-responsive-md">
                     <div class="col col-15 card card-shadow-border" style="background: #FFCC00;" ng-controller="manRemedyCrqCntrl" >
                       <div class="flip-container" ng-click="flip = !flip" ng-class="{'clicked': flip}">
                          <div class="flipper">
                             <div class="front">
                               <p id="remcrqfronttextheader">Open Ticket's</p>
                               <br>
                               <p id="remcrqfronttext">{{opentickets}}</p>
                               <p id="remcrqfrontanchor">CLICK FOR DETAILS</p>
                             </div>
                             <div class="back">
                              <table style="border:1px solid black">
                                <thead>
                                <tr style="border:1px solid black">
                                <td>DEPARTMENT</td>
                                <td>COUNT</td>
                                <td>CRITICAL</td>
                                </tr>
                                </thead>
                                <tbody ng-repeat="tickets in ticket_data">
                                <tr style="border:1px solid black">
                                <td>{{tickets.key}}</td>
                                <td>{{tickets.value}}</td>
                                <td>{{tickets.critical}}</td>
                                </tr>
                                </tbody>
                               </table>
                              <p id="remcrqbackanchor">GO BACK</p>
                             </div>
                          </div>
                       </div>
                     </div>
                     <div class="col col-15 card card-shadow-border" style="background: #76C043;" ng-controller="manRemedyCrqCntrl">
                        <div class="flip-container" ng-click="flip = !flip" ng-class="{'clicked': flip}">
                           <div class="flipper">
                             <div class="front">
                               <p id="remcrqfronttextheader">Open CRQ's</p>
                               <br>
                               <p id ="remcrqfronttext">{{opencrq}}</p>
                               <p id="remcrqfrontanchor">CLICK FOR DETAILS</p>
                             </div>
                             <div class="back">
                              <table style="border:1px solid black">
                                <thead>
                                <tr style="border:1px solid black">
                                <td>DEPARTMENT</td>
                                <td>COUNT</td>
                                <td>CRITICAL</td>
                                </tr>
                                </thead>
                                <tbody ng-repeat="tickets in crq_data">
                                <tr style="border:1px solid black">
                                <td>{{tickets.key}}</td>
                                <td>{{tickets.value}}</td>
                                <td>{{tickets.critical}}</td>
                                </tr>
                                </tbody>
                               </table>
                               <p id="remcrqbackanchor">GO BACK</p>               
                             </div>
                           </div>
                        </div>
                    </div>
                </div>
                   <!--Slot Graph HTML-->
                <div class="row row-responsive-md card card-shadow-border" style="margin-left:18px;width:490px"> 
                  <div class="col col-35" style="margin-left:-8px" ng-controller="manSlotCntrl">
                    <div class="row responsive-md" style="text-align:center;margin-bottom:10px;margin-left:130px" >
                     <h4 style="vertical-align:middle">Slot Statistics - {{manSlotSvc.active}}</h4>
                    </div>
                    <!--For SSTK Slot-->
                     <div ng-if="manSlotSvc.showsstk" class="row responsive-md slot-graph-class" style="margin-bottom:10px">
                       <div class="progress-wrapper" style="width:160px;">
                       <round-progress  max="sstktotal" current="sstkempty_data.count" color="#45ccce" bgcolor="#eaeaea" radius="60" stroke="10" semi="false" rounded="true" clockwise="false" responsive="false" duration="800" animation="easeInOutQuart" animation-delay="0"></round-progress>
                       <div class="text">{{sstkempty_data.count}}/{{sstktotal}}</div>
                       <p class="bottom_text">&nbsp&nbspEMPTY {{sstkempty_per}}%</p>
                       </div>
                       <div class="progress-wrapper" style="width:160px;">
                        <round-progress  max="sstktotal" current="sstkfull_data.count" color="#4295f4" bgcolor="#eaeaea" radius="60" stroke="10" semi="false" rounded="true" clockwise="false" responsive="false" duration="800" animation="easeInOutQuart" animation-delay="0"></round-progress>
                       <div class="text">{{sstkfull_data.count}}/{{sstktotal}}</div>                        
                        <p class="bottom_text">&nbsp&nbsp&nbsp&nbsp&nbspFULL {{sstkfull_per}}%</p>
                        </div>
                        <div class="progress-wrapper" style="width:160px;">
                       <round-progress  max="sstktotal" current="sstkaudit_data.count" color="#f4d442" bgcolor="#eaeaea" radius="60" stroke="10" semi="false" rounded="true" clockwise="false" responsive="false" duration="800" animation="easeInOutQuart" animation-delay="0"></round-progress>
                       <div class="text">{{sstkaudit_data.count}}/{{sstktotal}}</div>                           
                       <p class="bottom_text">&nbsp&nbsp&nbspAUDIT {{sstkaudit_per}}%</p>
                       </div>
                       <div class="progress-wrapper" style="width:160px;">
                       <round-progress  max="sstktotal" current="sstkrotate_data.count" color="#ff8080" bgcolor="#eaeaea" radius="60" stroke="10" semi="false" rounded="true" clockwise="false" responsive="false" duration="800" animation="easeInOutQuart" animation-delay="0"></round-progress>
                       <div class="text">{{sstkrotate_data.count}}/{{sstktotal}}</div>                           
                       <p class="bottom_text">&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbspQC {{sstkrotate_per}}%</p>
                       </div>
                     </div>  
                
                    <!--For PBYL Slot-->
                     <div ng-if="manSlotSvc.showpbyl" class="row responsive-md slot-graph-class" style="margin-bottom:10px">
                       <div class="progress-wrapper" style="width:160px;">
                       <round-progress  max="pbyltotal" current="pbylempty_data.count" color="#45ccce" bgcolor="#eaeaea" radius="60" stroke="10" semi="false" rounded="true" clockwise="false" responsive="false" duration="800" animation="easeInOutQuart" animation-delay="0"></round-progress>
                       <div class="text">{{pbylempty_data.count}}/{{pbyltotal}}</div>
                       <p class="bottom_text">&nbsp&nbspEMPTY {{pbylempty_per}}%</p>
                       </div>
                       <div class="progress-wrapper" style="width:160px;">
                        <round-progress  max="pbyltotal" current="pbylfull_data.count" color="#4295f4" bgcolor="#eaeaea" radius="60" stroke="10" semi="false" rounded="true" clockwise="false" responsive="false" duration="800" animation="easeInOutQuart" animation-delay="0"></round-progress>
                       <div class="text">{{pbylfull_data.count}}/{{pbyltotal}}</div>                        
                        <p class="bottom_text">&nbsp&nbsp&nbsp&nbsp&nbspFULL {{pbylfull_per}}%</p>
                        </div>
                        <div class="progress-wrapper" style="width:160px;">
                       <round-progress  max="pbyltotal" current="pbylaudit_data.count" color="#f4d442" bgcolor="#eaeaea" radius="60" stroke="10" semi="false" rounded="true" clockwise="false" responsive="false" duration="800" animation="easeInOutQuart" animation-delay="0"></round-progress>
                       <div class="text">{{pbylaudit_data.count}}/{{pbyltotal}}</div>                           
                       <p class="bottom_text">&nbsp&nbsp&nbspAUDIT {{pbylaudit_per}}%</p>
                       </div>
                       <div class="progress-wrapper" style="width:160px;">
                       <round-progress  max="pbyltotal" current="pbylrotate_data.count" color="#ff8080" bgcolor="#eaeaea" radius="60" stroke="10" semi="false" rounded="true" clockwise="false" responsive="false" duration="800" animation="easeInOutQuart" animation-delay="0"></round-progress>
                       <div class="text">{{pbylrotate_data.count}}/{{pbyltotal}}</div>                           
                       <p class="bottom_text">&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbspQC {{pbylrotate_per}}%</p>
                       </div>
                     </div>                                                                                             
                    <div class="row responsive-md">
                       <div class="col col-20"></div>
                        <div class="col" ng-controller="manSlotCntrl">
                         <div class="button-bar" style="max-width:300px" >
                           <button class="button button-small button-positive" style="max-width:150px" ng-click="showSSTKfn();">SSTK</button>
                           <button class="button button-small button-assertive" style="max-width:150px" ng-click="showPBYLfn();">PBYL</button>
                        </div>
                      </div>
                  </div>
             </div>
        </div>
    </div>
  </div>

  
     <div class = "row responsive-md" style="margin-left:10px;margin-right:20px">
      <!--Pallet Movment Graph HTML-->
       <div class="col col-40 card card-shadow-border" ng-controller="manPalletMvmtCntrl">
          <!--   <div class = "row responsive-md" id="manpalletgraph"> -->
          <nvd3 options="palletmvmtgraph_options" data="palletmvmtgraph_data"></nvd3>
         <!--   </div> -->
        </div>
   
      <!--Item Movement HTML-->
      <div class="col card card-shadow-border" ng-controller="manItemMvmtCntrl">
        <div class="row responsive-md">
           <div ng-if="manItemSvc.showtop"><nvd3 options="topitemmvmtgraph_options" data="topitem_data"></nvd3></div>
           <div ng-if="manItemSvc.showbottom"><nvd3 options="bottomitemmvmtgraph_options" data="bottomitem_data"></nvd3></div>        
        </div>   
        <div class="row responsive-md"> 
          <div class="col col-10"></div> 
           <div class="col">           
           <div class="button-bar">
            <button class="button button-small button-positive" style="max-width:150px" ng-click="showtopfn();">TOP 10</button>
            <button class="button button-small button-assertive" style="max-width:150px" ng-click="showbottomfn();">LOW 10</button>
           </div>
           </div>
        </div>
      </div>
      <!--Calender For Manager -->
     <div class="col card card-shadow-border" style="margin-right:20px" ng-controller="manTripCntrl">
       <div class="row responsive-md">
         <div ng-if="manTripSvc.showCasePick"><nvd3 options="case_options" data="case_data"></nvd3></div>
         <div ng-if="manTripSvc.showFullPull"><nvd3 options="full_options" data="full_data"></nvd3></div>
         <div ng-if="manTripSvc.showChase"><nvd3 options="chase_options" data="chase_data"></nvd3></div>
         <div ng-if="manTripSvc.showRegularPbyl"><nvd3 options="regpbyl_options" data="regpbyl_data"></nvd3></div>
       </div>
       <div class="row responsive-md"> 
          <div class="col col-10"></div> 
           <div class="col">           
           <div class="button-bar">
            <button class="button button-small button-positive" style="max-width:150px" ng-click="showcasefn();">CASEPICK</button>
            <button class="button button-small button-assertive" style="max-width:150px" ng-click="showfullpullfn();">FULLPULL</button>
           </div>
           </div>
        </div>
       <div class="row responsive-md"> 
          <div class="col col-10"></div> 
           <div class="col">           
           <div class="button-bar">
            <button class="button button-small button-positive" style="max-width:150px" ng-click="showchasefn();">CHASE</button>
            <button class="button button-small button-assertive" style="max-width:150px" ng-click="showregpbylfn();">REG PBYL</button>
           </div>
           </div>
        </div>        
     </div>      
  </div>
</section>
  </ion-content>
</ion-view>



