<ion-view view-title="Dashboards">
  <ion-content class="grid-basic-page" overflow-scroll="true">
<div class = "row responsive-sm">
   <div class = "col col-60"><nvd3 options="graph1_options" data="graph1_data"></nvd3></div>
   <div class = "col">
    <div class="col"><nvd3 options="sidegraph1_options" data="sidegraph1_data"></div>
    <div class="col"><nvd3 options="sidegraph2_options" data="sidegraph2_data"></div>
    </div>
</div>

<div class = "row responsive-sm">
   <div class = "col col-20">Graph 2</div>
   <div class = "col col-20">Graph 3</div>
   <div class = "col col-20">Graph 4</div>
   <div class = "col">Side Graph 3</div>
 </div>
<div class = "row responsive-sm">
   <div class = "col col-30">Warehouse Map</div>
   <div class = "col col-30">Chat Widget</div>
   <div class = "col col-40">Side Graph 4</div>
 </div>
  </ion-content>
</ion-view>
