<ion-view view-title="Dashboards">
  <ion-content class="grid-basic-page" overflow-scroll="true">
<div class = "row responsive-sm">
   <div class = "col col-60">Supervisor Graph 1</div>
   <div class = "col">
    <div class="col">Supervisor SideGraph 1</div>
    <div class="col">Supervisor SideGraph 2</div>
    </div>
</div>

<div class = "row responsive-sm">
   <div class = "col col-20">Graph 2</div>
   <div class = "col col-20">Graph 3</div>
   <div class = "col col-20">Graph 4</div>
   <div class = "col">Side Graph 3</div>
 </div>
<div class = "row responsive-sm">
   <div class = "col col-30">Warehouse Map</div>
   <div class = "col col-30">Chat Widget</div>
   <div class = "col col-40">Side Graph 4</div>
 </div>
  </ion-content>
</ion-view>
