<ion-view view-title="Override Detail">
  <ion-content class="grid-basic-page" overflow-scroll="true">

  <!--Pending Override Details Screen HTML-->
  <div class="list" ng-show="showpen">
	<p><strong>PO Nbr </strong> : {{details.PoNbr}}</p>
	<p><strong>Delivery Nbr </strong> : {{details.DeliveryNo}}</p>
	<p><strong>Item Nbr </strong>  :  {{details.ItemNbr}}</p>
	<p><strong>Operator ID </strong>: {{details.UserID}}</p>
	<p><strong>Comments </strong> :  {{details.Comments}}</p>
	<div class="row">
   		<div class="col col-50" style="border:none">
			<button class="button button-large button-positive" ng-disabled="disableApprovebtn == 1" ng-click="approve();showAlert();disableApprovebtn=1">
 		 	Approve
			</button>
		</div>
		<div class="col co-50" style="border:none">
			<button class="button button-large button-positive" ng-click="$state.go('suprvsrApp.overrideApp')">
	     	Cancel
			</button>
		</div>
	</div>
  </div>

<!--Approved Override Detail Screen HTML-->
   <div class="list" ng-show="showapp">
	<p><strong>PO Nbr </strong> : {{details.PoNbr}}</p>
	<p><strong>Delivery Nbr </strong> : {{details.DeliveryNo}}</p>
	<p><strong>Item Nbr </strong>  :  {{details.ItemNbr}}</p>
	<p><strong>Operator ID </strong>: {{details.UserID}}</p>
	<p><strong>Comments </strong> :  {{details.Comments}}</p>
	<div class="row">
		<div class="col co-100" style="border:none">
			<button class="button button-large button-positive" ng-click="$state.go('suprvsrApp.overrideApp')">
	     	Go Back
			</button>
		</div>
	</div>
  </div>
    </ion-content>
</ion-view>