<ion-view>
  <ion-content class="grid-basic-page" overflow-scroll="false">
          <div class="row responsive-sm" style="margin-left:20px;margin-top:10px;margin-bottom:10px">
           <div class="col" style="margin-top:10px">
            <span class="u10">Supervisor Override</span>
            <p class="u10" style="margin-top:10px">Application</p>
           </div>
          <div class="row responsive-md" style="margin-left:-20px">
           <span ng-controller="manProductivityCntrl" ng-include="'templates/headerpillmob.html'">
          </div>
        </div>

<div>    
 <div class="list">
  <div class="item item-divider" style="background:#b3b3ff">Pending</div>
   <div class="supervisor-list-animation" ng-repeat="pendingitems in suprvsrArr">
     <div class="card card-shadow-border">
      <div style="cursor:pointer">
        <div class="row">
          <span class="u13"> Delivery Number :<span class="u15"> {{pendingitems.deliveryNbr}}</span></span>
         <span class="u13" style="margin-left:50px">PO Number : <span class="u15"> {{pendingitems.poNbr}}</span> </span>
         </div>
        <div class="row" style="margin-top:10px">
        <span class="u13">Item Number &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp:<span class="u15">  {{pendingitems.itemNbr}}</span></span>
         <span class="u13" style="margin-left:40px">Operator ID :<span class="u15">  {{pendingitems.userId}}</span></span>      
         </div>
        <div class="row">
    <div class="col" style="margin-top:10px"><span class="u13">Comments:<span class="u15">{{pendingitems.comment}}</span></span></div>  
    </div>
       <div class="row">
         <div class="col col-30"><div class="button button-positive button-pill" ng-click="approve(pendingitems);" style="max-width:300px">APPROVE</div></div> 
         </div> 
     </div>
   </div>
   </div>
  </div>  

   <div class="item item-divider" style="background:#b3b3ff">Approved</div>
      <label class="item item-input padding">
       <i class="icon ion-search placeholder-icon"></i>
        <input type="text" placeholder="Search" ng-model="searchText" style="background:#f2f2f2;">
     </label>
    <div ng-repeat="appritems in apprvData |filter:searchText track by $index">
      <div class="item">
        <div class="row">
          <span class="u13"> Delivery Number :<span class="u15"> {{appritems.deliveryNbr}}</span></span>
         <span class="u13" style="margin-left:60px">PO Number : <span class="u15"> {{appritems.poNbr}}</span> </span>
         </div>
        <div class="row" style="margin-top:10px">
        <span class="u13">Item Number &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp:<span class="u15">  {{appritems.itemNbr}}</span></span>
         <span class="u13" style="margin-left:41px">Operator ID :<span class="u15">  {{appritems.userId}}</span></span>        
         </div>
        <div class="row" style="margin-top:10px;margin-left:-5px;margin-bottom:-10px;white-space:normal">         
         <span class="u13">&nbspComments&nbsp&nbsp:<span class="u15" >&nbsp&nbsp{{appritems.comment}}</span></span>
         </div>          
      </div> 
      </div>
   </div>
</div>
</ion-content>
</ion-view>
