<!--<ion-side-menus enable-menu-with-back-views="false">
  <ion-side-menu-content>
    <ion-nav-bar class="bar custom-bar-color">
      <ion-nav-back-button>
      </ion-nav-back-button>

      <ion-nav-buttons side="left">
        <button class="button button-icon button-clear ion-navicon" menu-toggle="left">
        </button>
      </ion-nav-buttons>
    </ion-nav-bar>
    <ion-nav-view name="supMenuContent"></ion-nav-view>
  </ion-side-menu-content>

  <ion-side-menu side="left">
    <ion-header-bar class="bar-stable">
      <h1 class="title">Suprvsr Menu</h1>
    </ion-header-bar>
    <ion-content>
      <ion-list>
        <ion-item menu-close style="cursor: pointer" ui-sref="suprvsrApp.dashboard">
          Dashboard
        </ion-item>
        <ion-item menu-close style="cursor: pointer" ui-sref="suprvsrApp.overrideApp">
          Override App
        </ion-item>
        <ion-item menu-close style="cursor: pointer" ui-sref="suprvsrApp.settings">
          Settings
        </ion-item>        
        <ion-item menu-close ui-sref="login">
          Logout
        </ion-item>        
      </ion-list>
    </ion-content>
  </ion-side-menu>
</ion-side-menus> -->

<ion-view>
    <ion-nav-bar class="bar-stable custom-bar-color">
        <ion-nav-back-button>
    </ion-nav-back-button>
          <ion-nav-title>
    <span> 
    <p style="float:left" class="main-header">ignite</p><p style="float:left" class="main-header-number">&nbsp2.0</p>
    <i class="icon ion-log-out" style="cursor:pointer;float:right;font-size:40px;color:#78B9E7;" ui-sref="login"></i>
    <i ng-controller="supNotificationCntrl" class="icon ion-android-notifications" style="cursor:pointer;float:right;font-size:40px;color:#78B9E7;margin-right:10px" ng-click="popover.show($event);supNotifCount=null"><span class="badge badge-assertive header-badge">{{supNotifCount}}</span></i>
    <i ng-controller="supEmailCntrl" class="icon ion-email" style="cursor:pointer;float:right;font-size:40px;color:#78B9E7;margin-right:10px" ng-click="popover.show($event);supEmailCount=null"><span class="badge badge-assertive header-badge">{{supEmailCount}}</span></i>
    </span>
    </ion-nav-title>
    </ion-nav-bar>


      <ion-tabs class="tabs-icon-top tabs-positive">
        <ion-tab title="Dashboard" icon="ion-home" ui-sref="suprvsrApp.search">
          <ion-nav-view animation="slide-left-right" name="supSearchContent"></ion-nav-view>
        </ion-tab>
       
       <div ng-controller="overrideCntrl">
    <ion-tab title="Override App" badge="getbadge()"  badge-style="badge-assertive" icon="ion-ios-information" ui-sref="suprvsrApp.overrideApp">
          <ion-nav-view animation="slide-left-right" name="supOverrideView"></ion-nav-view>
        </ion-tab>
        </div>
      </ion-tabs>
      </ion-view>

